# Originally from CDE by Jos van Riswick 2017 / josvanr@gmail.com
# Simplified for one color scheme by Christian Medel <cmedelahumada@gmail.com>
# License: GPL3
    
gtk-color-scheme = "base_color: #aeb2c3"
gtk-color-scheme = "fg_color: #000000"
gtk-color-scheme = "tooltip_fg_color: #000000"
gtk-color-scheme = "selected_bg_color: #9497a6"
gtk-color-scheme = "selected_fg_color: #000000"
gtk-color-scheme = "text_color: #000000"
gtk-color-scheme = "bg_color: #aeb2c3"
gtk-color-scheme = "insensitive_bg_color: #9497a6"
gtk-color-scheme = "tooltip_bg_color: #9497a6"

style "cde_style_4"
{
    fg[NORMAL]  ="#000000"
    bg[NORMAL]  ="#fff7e9"
    text[NORMAL]="#000000"
    base[NORMAL]="#fff7e9"

    fg[ACTIVE]  ="#000000"
    bg[ACTIVE]  ="#d9d2c6"
    text[ACTIVE]="#000000"
    base[ACTIVE]="#d9d2c6"

    fg[PRELIGHT]="#000000"
    bg[PRELIGHT]="#fff7e9"
    text[PRELIGHT]="#000000"
    base[PRELIGHT] ="#fff7e9"

    fg[SELECTED]="#fff7e9"
    bg[SELECTED]="#000000"
    text[SELECTED]="#fff7e9"
    base[SELECTED]="#000000"

    #this is the dark color of the etched in insensitive text when on normal background of widget
    fg[INSENSITIVE]="#99948c"
    bg[INSENSITIVE]="#fff7e9"
    #insensitive text color in entry and also fg color of etched in text in combo box
    text[INSENSITIVE]="#99948c"
    #in cde this is normal bg color
    base[INSENSITIVE]="#fff7e9"
}

style "cde_style_5"
{
    fg[NORMAL]  ="#000000"
    bg[NORMAL]  ="#aeb2c3"
    text[NORMAL]="#000000"
    base[NORMAL]="#aeb2c3"

    fg[ACTIVE]  ="#000000"
    bg[ACTIVE]  ="#9497a6"
    text[ACTIVE]="#000000"
    base[ACTIVE]="#9497a6"

    fg[PRELIGHT]="#000000"
    bg[PRELIGHT]="#aeb2c3"
    text[PRELIGHT]="#000000"
    base[PRELIGHT] ="#aeb2c3"

    fg[SELECTED]="#aeb2c3"
    bg[SELECTED]="#000000"
    text[SELECTED]="#aeb2c3"
    base[SELECTED]="#000000"

    #this is the dark color of the etched in insensitive text when on normal background of widget
    fg[INSENSITIVE]="#5e606a"
    bg[INSENSITIVE]="#aeb2c3"
    #insensitive text color in entry and also fg color of etched in text in combo box
    text[INSENSITIVE]="#5e606a"
    #in cde this is normal bg color
    base[INSENSITIVE]="#aeb2c3"
}

style "cde_style_6"
{
    fg[NORMAL]  ="#000000"
    bg[NORMAL]  ="#aeb2c3"
    text[NORMAL]="#000000"
    base[NORMAL]="#aeb2c3"

    fg[ACTIVE]  ="#000000"
    bg[ACTIVE]  ="#9497a6"
    text[ACTIVE]="#000000"
    base[ACTIVE]="#9497a6"

    fg[PRELIGHT]="#000000"
    bg[PRELIGHT]="#aeb2c3"
    text[PRELIGHT]="#000000"
    base[PRELIGHT] ="#aeb2c3"

    fg[SELECTED]="#aeb2c3"
    bg[SELECTED]="#000000"
    text[SELECTED]="#aeb2c3"
    base[SELECTED]="#000000"

    #this is the dark color of the etched in insensitive text when on normal background of widget
    fg[INSENSITIVE]="#5e606a"
    bg[INSENSITIVE]="#aeb2c3"
    #insensitive text color in entry and also fg color of etched in text in combo box
    text[INSENSITIVE]="#5e606a"
    #in cde this is normal bg color
    base[INSENSITIVE]="#aeb2c3"
}

style "cde_style_sel_5"
{
    fg[NORMAL]  ="#000000"
    bg[NORMAL]  ="#9497a6"
    text[NORMAL]="#000000"
    base[NORMAL]="#9497a6"

    fg[ACTIVE]  ="#000000"
    bg[ACTIVE]  ="#aeb2c3"
    text[ACTIVE]="#000000"
    base[ACTIVE]="#aeb2c3"

    fg[PRELIGHT]="#000000"
    bg[PRELIGHT]="#5e606a"
    text[PRELIGHT]="#000000"
    base[PRELIGHT] ="#5e606a"

    fg[SELECTED]="#000000"
    bg[SELECTED]="#5e606a"
    text[SELECTED]="#000000"
    base[SELECTED]="#5e606a"

    fg[INSENSITIVE]="#000000"
    bg[INSENSITIVE]="#9497a6"
    text[INSENSITIVE]="#000000"
    base[INSENSITIVE]="#9497a6"
}
