########################################################################
# Button
########################################################################

style "button"
{
	engine "pixmap" 
    {
### Button ### 

## Normal
		image 
		{
			function = BOX
			state = NORMAL
			file = "img/button.png"
			border = {3, 3, 3, 3}
			stretch = TRUE
		}
## Prelight
		image 
		{
			function = BOX
			state = PRELIGHT
			file = "img/button.png"
			border = {3, 3, 3, 3}
			stretch = TRUE
		}

## Insensitive
		image 
		{
			function = BOX
			state = INSENSITIVE
			file = "img/button.png"
			border = {3, 3, 3, 3}
			stretch = TRUE
		}

## Active
		image 
		{
			function = BOX
			state = ACTIVE
			file = "img/buttonPressed.png"
			border = {3, 3, 3, 3}
			stretch = TRUE
		}

### Focus ###
		image 
		{
			function = FOCUS
			file = "null.png"
		}
    }
}




class "GtkButton*" style "button"

