



style "cde_style_white_fg_1"
{
    fg[NORMAL]  ="#ffffffffffff"
    bg[NORMAL]  ="#eda870"
    text[NORMAL]="#ffffffffffff"
    base[NORMAL]="#eda870"

    fg[ACTIVE]  ="#ffffffffffff"
    bg[ACTIVE]  ="#ca8f5f"
    text[ACTIVE]="#ffffffffffff"
    base[ACTIVE]="#ca8f5f"

    fg[PRELIGHT]="#ffffffffffff"
    bg[PRELIGHT]="#eda870"
    text[PRELIGHT]="#ffffffffffff"
    base[PRELIGHT] ="#eda870"

    fg[SELECTED]="#ffffffffffff"
    bg[SELECTED]="#ca8f5f"
    text[SELECTED]="#ffffffffffff"
    base[SELECTED]="#ca8f5f"

    fg[INSENSITIVE]="#ffffffffffff"
    bg[INSENSITIVE]="#f8dac2"
    text[INSENSITIVE]="#ffffffffffff"
    base[INSENSITIVE]="#f8dac2"
    #engine "pixmap" {}
}
        
style "cde_style_white_fg_2"
{
    fg[NORMAL]  ="#ffffffffffff"
    bg[NORMAL]  ="#999999"
    text[NORMAL]="#ffffffffffff"
    base[NORMAL]="#999999"

    fg[ACTIVE]  ="#ffffffffffff"
    bg[ACTIVE]  ="#828282"
    text[ACTIVE]="#ffffffffffff"
    base[ACTIVE]="#828282"

    fg[PRELIGHT]="#ffffffffffff"
    bg[PRELIGHT]="#999999"
    text[PRELIGHT]="#ffffffffffff"
    base[PRELIGHT] ="#999999"

    fg[SELECTED]="#ffffffffffff"
    bg[SELECTED]="#828282"
    text[SELECTED]="#ffffffffffff"
    base[SELECTED]="#828282"

    fg[INSENSITIVE]="#ffffffffffff"
    bg[INSENSITIVE]="#d2d2d2"
    text[INSENSITIVE]="#ffffffffffff"
    base[INSENSITIVE]="#d2d2d2"
    #engine "pixmap" {}
}
        
style "cde_style_white_fg_3"
{
    fg[NORMAL]  ="#ffffffffffff"
    bg[NORMAL]  ="#8998aa"
    text[NORMAL]="#ffffffffffff"
    base[NORMAL]="#8998aa"

    fg[ACTIVE]  ="#ffffffffffff"
    bg[ACTIVE]  ="#748191"
    text[ACTIVE]="#ffffffffffff"
    base[ACTIVE]="#748191"

    fg[PRELIGHT]="#ffffffffffff"
    bg[PRELIGHT]="#8998aa"
    text[PRELIGHT]="#ffffffffffff"
    base[PRELIGHT] ="#8998aa"

    fg[SELECTED]="#ffffffffffff"
    bg[SELECTED]="#748191"
    text[SELECTED]="#ffffffffffff"
    base[SELECTED]="#748191"

    fg[INSENSITIVE]="#ffffffffffff"
    bg[INSENSITIVE]="#cbd2da"
    text[INSENSITIVE]="#ffffffffffff"
    base[INSENSITIVE]="#cbd2da"
    #engine "pixmap" {}
}
        
style "cde_style_white_fg_4"
{
    fg[NORMAL]  ="#ffffffffffff"
    bg[NORMAL]  ="#686f82"
    text[NORMAL]="#ffffffffffff"
    base[NORMAL]="#686f82"

    fg[ACTIVE]  ="#ffffffffffff"
    bg[ACTIVE]  ="#585e6e"
    text[ACTIVE]="#ffffffffffff"
    base[ACTIVE]="#585e6e"

    fg[PRELIGHT]="#ffffffffffff"
    bg[PRELIGHT]="#686f82"
    text[PRELIGHT]="#ffffffffffff"
    base[PRELIGHT] ="#686f82"

    fg[SELECTED]="#ffffffffffff"
    bg[SELECTED]="#585e6e"
    text[SELECTED]="#ffffffffffff"
    base[SELECTED]="#585e6e"

    fg[INSENSITIVE]="#ffffffffffff"
    bg[INSENSITIVE]="#babec6"
    text[INSENSITIVE]="#ffffffffffff"
    base[INSENSITIVE]="#babec6"
    #engine "pixmap" {}
}
        
style "cde_style_white_fg_5"
{
    fg[NORMAL]  ="#ffffffffffff"
    bg[NORMAL]  ="#c6b2a8"
    text[NORMAL]="#ffffffffffff"
    base[NORMAL]="#c6b2a8"

    fg[ACTIVE]  ="#ffffffffffff"
    bg[ACTIVE]  ="#a8978f"
    text[ACTIVE]="#ffffffffffff"
    base[ACTIVE]="#a8978f"

    fg[PRELIGHT]="#ffffffffffff"
    bg[PRELIGHT]="#c6b2a8"
    text[PRELIGHT]="#ffffffffffff"
    base[PRELIGHT] ="#c6b2a8"

    fg[SELECTED]="#ffffffffffff"
    bg[SELECTED]="#a8978f"
    text[SELECTED]="#ffffffffffff"
    base[SELECTED]="#a8978f"

    fg[INSENSITIVE]="#ffffffffffff"
    bg[INSENSITIVE]="#e7deda"
    text[INSENSITIVE]="#ffffffffffff"
    base[INSENSITIVE]="#e7deda"
    #engine "pixmap" {}
}
        
style "cde_style_white_fg_6"
{
    fg[NORMAL]  ="#ffffffffffff"
    bg[NORMAL]  ="#4992a7"
    text[NORMAL]="#ffffffffffff"
    base[NORMAL]="#4992a7"

    fg[ACTIVE]  ="#ffffffffffff"
    bg[ACTIVE]  ="#3e7c8e"
    text[ACTIVE]="#ffffffffffff"
    base[ACTIVE]="#3e7c8e"

    fg[PRELIGHT]="#ffffffffffff"
    bg[PRELIGHT]="#4992a7"
    text[PRELIGHT]="#ffffffffffff"
    base[PRELIGHT] ="#4992a7"

    fg[SELECTED]="#ffffffffffff"
    bg[SELECTED]="#3e7c8e"
    text[SELECTED]="#ffffffffffff"
    base[SELECTED]="#3e7c8e"

    fg[INSENSITIVE]="#ffffffffffff"
    bg[INSENSITIVE]="#adced8"
    text[INSENSITIVE]="#ffffffffffff"
    base[INSENSITIVE]="#adced8"
    #engine "pixmap" {}
}
        
style "cde_style_white_fg_7"
{
    fg[NORMAL]  ="#ffffffffffff"
    bg[NORMAL]  ="#b7878d"
    text[NORMAL]="#ffffffffffff"
    base[NORMAL]="#b7878d"

    fg[ACTIVE]  ="#ffffffffffff"
    bg[ACTIVE]  ="#9c7378"
    text[ACTIVE]="#ffffffffffff"
    base[ACTIVE]="#9c7378"

    fg[PRELIGHT]="#ffffffffffff"
    bg[PRELIGHT]="#b7878d"
    text[PRELIGHT]="#ffffffffffff"
    base[PRELIGHT] ="#b7878d"

    fg[SELECTED]="#ffffffffffff"
    bg[SELECTED]="#9c7378"
    text[SELECTED]="#ffffffffffff"
    base[SELECTED]="#9c7378"

    fg[INSENSITIVE]="#ffffffffffff"
    bg[INSENSITIVE]="#e0cacd"
    text[INSENSITIVE]="#ffffffffffff"
    base[INSENSITIVE]="#e0cacd"
    #engine "pixmap" {}
}
        
style "cde_style_white_fg_8"
{
    fg[NORMAL]  ="#ffffffffffff"
    bg[NORMAL]  ="#93abbf"
    text[NORMAL]="#ffffffffffff"
    base[NORMAL]="#93abbf"

    fg[ACTIVE]  ="#ffffffffffff"
    bg[ACTIVE]  ="#7d91a2"
    text[ACTIVE]="#ffffffffffff"
    base[ACTIVE]="#7d91a2"

    fg[PRELIGHT]="#ffffffffffff"
    bg[PRELIGHT]="#93abbf"
    text[PRELIGHT]="#ffffffffffff"
    base[PRELIGHT] ="#93abbf"

    fg[SELECTED]="#ffffffffffff"
    bg[SELECTED]="#7d91a2"
    text[SELECTED]="#ffffffffffff"
    base[SELECTED]="#7d91a2"

    fg[INSENSITIVE]="#ffffffffffff"
    bg[INSENSITIVE]="#d0dbe4"
    text[INSENSITIVE]="#ffffffffffff"
    base[INSENSITIVE]="#d0dbe4"
    #engine "pixmap" {}
}
        
style "cde_style_dark_fg_1"
{
    fg[NORMAL]  ="#7f5a3c"
    bg[NORMAL]  ="#eda870"
    text[NORMAL]="#7f5a3c"
    base[NORMAL]="#eda870"

    fg[ACTIVE]  ="#7f5a3c"
    bg[ACTIVE]  ="#ca8f5f"
    text[ACTIVE]="#7f5a3c"
    base[ACTIVE]="#ca8f5f"

    fg[PRELIGHT]="#7f5a3c"
    bg[PRELIGHT]="#eda870"
    text[PRELIGHT]="#7f5a3c"
    base[PRELIGHT] ="#eda870"

    fg[SELECTED]="#7f5a3c"
    bg[SELECTED]="#ca8f5f"
    text[SELECTED]="#7f5a3c"
    base[SELECTED]="#ca8f5f"

    fg[INSENSITIVE]="#7f5a3c"
    bg[INSENSITIVE]="#f8dac2"
    text[INSENSITIVE]="#7f5a3c"
    base[INSENSITIVE]="#f8dac2"
    #engine "pixmap" {}
}

style "cde_style_dark_fg_2"
{
    fg[NORMAL]  ="#4f4f4f"
    bg[NORMAL]  ="#999999"
    text[NORMAL]="#4f4f4f"
    base[NORMAL]="#999999"

    fg[ACTIVE]  ="#4f4f4f"
    bg[ACTIVE]  ="#828282"
    text[ACTIVE]="#4f4f4f"
    base[ACTIVE]="#828282"

    fg[PRELIGHT]="#4f4f4f"
    bg[PRELIGHT]="#999999"
    text[PRELIGHT]="#4f4f4f"
    base[PRELIGHT] ="#999999"

    fg[SELECTED]="#4f4f4f"
    bg[SELECTED]="#828282"
    text[SELECTED]="#4f4f4f"
    base[SELECTED]="#828282"

    fg[INSENSITIVE]="#4f4f4f"
    bg[INSENSITIVE]="#d2d2d2"
    text[INSENSITIVE]="#4f4f4f"
    base[INSENSITIVE]="#d2d2d2"
    #engine "pixmap" {}
}

style "cde_style_dark_fg_3"
{
    fg[NORMAL]  ="#474f58"
    bg[NORMAL]  ="#8998aa"
    text[NORMAL]="#474f58"
    base[NORMAL]="#8998aa"

    fg[ACTIVE]  ="#474f58"
    bg[ACTIVE]  ="#748191"
    text[ACTIVE]="#474f58"
    base[ACTIVE]="#748191"

    fg[PRELIGHT]="#474f58"
    bg[PRELIGHT]="#8998aa"
    text[PRELIGHT]="#474f58"
    base[PRELIGHT] ="#8998aa"

    fg[SELECTED]="#474f58"
    bg[SELECTED]="#748191"
    text[SELECTED]="#474f58"
    base[SELECTED]="#748191"

    fg[INSENSITIVE]="#474f58"
    bg[INSENSITIVE]="#cbd2da"
    text[INSENSITIVE]="#474f58"
    base[INSENSITIVE]="#cbd2da"
    #engine "pixmap" {}
}

style "cde_style_dark_fg_4"
{
    fg[NORMAL]  ="#33363f"
    bg[NORMAL]  ="#686f82"
    text[NORMAL]="#33363f"
    base[NORMAL]="#686f82"

    fg[ACTIVE]  ="#33363f"
    bg[ACTIVE]  ="#585e6e"
    text[ACTIVE]="#33363f"
    base[ACTIVE]="#585e6e"

    fg[PRELIGHT]="#33363f"
    bg[PRELIGHT]="#686f82"
    text[PRELIGHT]="#33363f"
    base[PRELIGHT] ="#686f82"

    fg[SELECTED]="#33363f"
    bg[SELECTED]="#585e6e"
    text[SELECTED]="#33363f"
    base[SELECTED]="#585e6e"

    fg[INSENSITIVE]="#33363f"
    bg[INSENSITIVE]="#babec6"
    text[INSENSITIVE]="#33363f"
    base[INSENSITIVE]="#babec6"
    #engine "pixmap" {}
}

style "cde_style_dark_fg_5"
{
    fg[NORMAL]  ="#6b605b"
    bg[NORMAL]  ="#c6b2a8"
    text[NORMAL]="#6b605b"
    base[NORMAL]="#c6b2a8"

    fg[ACTIVE]  ="#6b605b"
    bg[ACTIVE]  ="#a8978f"
    text[ACTIVE]="#6b605b"
    base[ACTIVE]="#a8978f"

    fg[PRELIGHT]="#6b605b"
    bg[PRELIGHT]="#c6b2a8"
    text[PRELIGHT]="#6b605b"
    base[PRELIGHT] ="#c6b2a8"

    fg[SELECTED]="#6b605b"
    bg[SELECTED]="#a8978f"
    text[SELECTED]="#6b605b"
    base[SELECTED]="#a8978f"

    fg[INSENSITIVE]="#6b605b"
    bg[INSENSITIVE]="#e7deda"
    text[INSENSITIVE]="#6b605b"
    base[INSENSITIVE]="#e7deda"
    #engine "pixmap" {}
}

style "cde_style_dark_fg_6"
{
    fg[NORMAL]  ="#244953"
    bg[NORMAL]  ="#4992a7"
    text[NORMAL]="#244953"
    base[NORMAL]="#4992a7"

    fg[ACTIVE]  ="#244953"
    bg[ACTIVE]  ="#3e7c8e"
    text[ACTIVE]="#244953"
    base[ACTIVE]="#3e7c8e"

    fg[PRELIGHT]="#244953"
    bg[PRELIGHT]="#4992a7"
    text[PRELIGHT]="#244953"
    base[PRELIGHT] ="#4992a7"

    fg[SELECTED]="#244953"
    bg[SELECTED]="#3e7c8e"
    text[SELECTED]="#244953"
    base[SELECTED]="#3e7c8e"

    fg[INSENSITIVE]="#244953"
    bg[INSENSITIVE]="#adced8"
    text[INSENSITIVE]="#244953"
    base[INSENSITIVE]="#adced8"
    #engine "pixmap" {}
}

style "cde_style_dark_fg_7"
{
    fg[NORMAL]  ="#5f4649"
    bg[NORMAL]  ="#b7878d"
    text[NORMAL]="#5f4649"
    base[NORMAL]="#b7878d"

    fg[ACTIVE]  ="#5f4649"
    bg[ACTIVE]  ="#9c7378"
    text[ACTIVE]="#5f4649"
    base[ACTIVE]="#9c7378"

    fg[PRELIGHT]="#5f4649"
    bg[PRELIGHT]="#b7878d"
    text[PRELIGHT]="#5f4649"
    base[PRELIGHT] ="#b7878d"

    fg[SELECTED]="#5f4649"
    bg[SELECTED]="#9c7378"
    text[SELECTED]="#5f4649"
    base[SELECTED]="#9c7378"

    fg[INSENSITIVE]="#5f4649"
    bg[INSENSITIVE]="#e0cacd"
    text[INSENSITIVE]="#5f4649"
    base[INSENSITIVE]="#e0cacd"
    #engine "pixmap" {}
}

style "cde_style_dark_fg_8"
{
    fg[NORMAL]  ="#4e5b66"
    bg[NORMAL]  ="#93abbf"
    text[NORMAL]="#4e5b66"
    base[NORMAL]="#93abbf"

    fg[ACTIVE]  ="#4e5b66"
    bg[ACTIVE]  ="#7d91a2"
    text[ACTIVE]="#4e5b66"
    base[ACTIVE]="#7d91a2"

    fg[PRELIGHT]="#4e5b66"
    bg[PRELIGHT]="#93abbf"
    text[PRELIGHT]="#4e5b66"
    base[PRELIGHT] ="#93abbf"

    fg[SELECTED]="#4e5b66"
    bg[SELECTED]="#7d91a2"
    text[SELECTED]="#4e5b66"
    base[SELECTED]="#7d91a2"

    fg[INSENSITIVE]="#4e5b66"
    bg[INSENSITIVE]="#d0dbe4"
    text[INSENSITIVE]="#4e5b66"
    base[INSENSITIVE]="#d0dbe4"
    #engine "pixmap" {}
}

style "cde_style_1"
{
    fg[NORMAL]  ="#ffffff"
    bg[NORMAL]  ="#eda870"
    text[NORMAL]="#ffffff"
    base[NORMAL]="#eda870"

    fg[ACTIVE]  ="#ffffff"
    bg[ACTIVE]  ="#ca8f5f"
    text[ACTIVE]="#ffffff"
    base[ACTIVE]="#ca8f5f"

    fg[PRELIGHT]="#ffffff"
    bg[PRELIGHT]="#ca8f5f"
    text[PRELIGHT]="#ffffff"
    base[PRELIGHT] ="#ca8f5f"

    fg[SELECTED]="#ffffff"
    bg[SELECTED]="#ca8f5f"
    text[SELECTED]="#ffffff"
    base[SELECTED]="#ca8f5f"

    fg[INSENSITIVE]="#ffffff"
    bg[INSENSITIVE]="#f8dac2"
    text[INSENSITIVE]="#ffffff"
    base[INSENSITIVE]="#f8dac2"
    #engine "pixmap" {}
}

style "cde_style_2"
{
    fg[NORMAL]  ="#ffffff"
    bg[NORMAL]  ="#999999"
    text[NORMAL]="#ffffff"
    base[NORMAL]="#999999"

    fg[ACTIVE]  ="#ffffff"
    bg[ACTIVE]  ="#828282"
    text[ACTIVE]="#ffffff"
    base[ACTIVE]="#828282"

    fg[PRELIGHT]="#ffffff"
    bg[PRELIGHT]="#828282"
    text[PRELIGHT]="#ffffff"
    base[PRELIGHT] ="#828282"

    fg[SELECTED]="#ffffff"
    bg[SELECTED]="#828282"
    text[SELECTED]="#ffffff"
    base[SELECTED]="#828282"

    fg[INSENSITIVE]="#ffffff"
    bg[INSENSITIVE]="#d2d2d2"
    text[INSENSITIVE]="#ffffff"
    base[INSENSITIVE]="#d2d2d2"
    #engine "pixmap" {}
}

style "cde_style_3"
{
    fg[NORMAL]  ="#ffffff"
    bg[NORMAL]  ="#8998aa"
    text[NORMAL]="#ffffff"
    base[NORMAL]="#8998aa"

    fg[ACTIVE]  ="#ffffff"
    bg[ACTIVE]  ="#748191"
    text[ACTIVE]="#ffffff"
    base[ACTIVE]="#748191"

    fg[PRELIGHT]="#ffffff"
    bg[PRELIGHT]="#748191"
    text[PRELIGHT]="#ffffff"
    base[PRELIGHT] ="#748191"

    fg[SELECTED]="#ffffff"
    bg[SELECTED]="#748191"
    text[SELECTED]="#ffffff"
    base[SELECTED]="#748191"

    fg[INSENSITIVE]="#ffffff"
    bg[INSENSITIVE]="#cbd2da"
    text[INSENSITIVE]="#ffffff"
    base[INSENSITIVE]="#cbd2da"
    #engine "pixmap" {}
}

style "cde_style_4"
{
    fg[NORMAL]  ="#ffffff"
    bg[NORMAL]  ="#686f82"
    text[NORMAL]="#ffffff"
    base[NORMAL]="#686f82"

    fg[ACTIVE]  ="#ffffff"
    bg[ACTIVE]  ="#585e6e"
    text[ACTIVE]="#ffffff"
    base[ACTIVE]="#585e6e"

    fg[PRELIGHT]="#ffffff"
    bg[PRELIGHT]="#585e6e"
    text[PRELIGHT]="#ffffff"
    base[PRELIGHT] ="#585e6e"

    fg[SELECTED]="#585e6e"
    bg[SELECTED]="#ffffff"
    text[SELECTED]="#585e6e"
    base[SELECTED]="#ffffff"

    fg[INSENSITIVE]="#ffffff"
    bg[INSENSITIVE]="#babec6"
    text[INSENSITIVE]="#ffffff"
    base[INSENSITIVE]="#babec6"
    #engine "pixmap" {}
}

style "cde_style_5"
{
    fg[NORMAL]  ="#000000"
    bg[NORMAL]  ="#c6b2a8"
    text[NORMAL]="#000000"
    base[NORMAL]="#c6b2a8"

    fg[ACTIVE]  ="#000000"
    bg[ACTIVE]  ="#a8978f"
    text[ACTIVE]="#000000"
    base[ACTIVE]="#a8978f"

    fg[PRELIGHT]="#000000"
    bg[PRELIGHT]="#a8978f"
    text[PRELIGHT]="#000000"
    base[PRELIGHT] ="#a8978f"

    fg[SELECTED]="#000000"
    bg[SELECTED]="#a8978f"
    text[SELECTED]="#000000"
    base[SELECTED]="#a8978f"

    fg[INSENSITIVE]="#000000"
    bg[INSENSITIVE]="#e7deda"
    text[INSENSITIVE]="#000000"
    base[INSENSITIVE]="#e7deda"
    #engine "pixmap" {}
}

style "cde_style_6"
{
    fg[NORMAL]  ="#ffffff"
    bg[NORMAL]  ="#4992a7"
    text[NORMAL]="#ffffff"
    base[NORMAL]="#4992a7"

    fg[ACTIVE]  ="#ffffff"
    bg[ACTIVE]  ="#3e7c8e"
    text[ACTIVE]="#ffffff"
    base[ACTIVE]="#3e7c8e"

    fg[PRELIGHT]="#ffffff"
    bg[PRELIGHT]="#3e7c8e"
    text[PRELIGHT]="#ffffff"
    base[PRELIGHT] ="#3e7c8e"

    fg[SELECTED]="#ffffff"
    bg[SELECTED]="#3e7c8e"
    text[SELECTED]="#ffffff"
    base[SELECTED]="#3e7c8e"

    fg[INSENSITIVE]="#ffffff"
    bg[INSENSITIVE]="#adced8"
    text[INSENSITIVE]="#ffffff"
    base[INSENSITIVE]="#adced8"
    #engine "pixmap" #{}
}

style "cde_style_7"
{
    fg[NORMAL]  ="#ffffff"
    bg[NORMAL]  ="#b7878d"
    text[NORMAL]="#ffffff"
    base[NORMAL]="#b7878d"

    fg[ACTIVE]  ="#ffffff"
    bg[ACTIVE]  ="#9c7378"
    text[ACTIVE]="#ffffff"
    base[ACTIVE]="#9c7378"

    fg[PRELIGHT]="#ffffff"
    bg[PRELIGHT]="#9c7378"
    text[PRELIGHT]="#ffffff"
    base[PRELIGHT] ="#9c7378"

    fg[SELECTED]="#ffffff"
    bg[SELECTED]="#9c7378"
    text[SELECTED]="#ffffff"
    base[SELECTED]="#9c7378"

    fg[INSENSITIVE]="#ffffff"
    bg[INSENSITIVE]="#e0cacd"
    text[INSENSITIVE]="#ffffff"
    base[INSENSITIVE]="#e0cacd"
    #engine "pixmap" {}
}

style "cde_style_8"
{
    fg[NORMAL]  ="#ffffff"
    bg[NORMAL]  ="#93abbf"
    text[NORMAL]="#ffffff"
    base[NORMAL]="#93abbf"

    fg[ACTIVE]  ="#ffffff"
    bg[ACTIVE]  ="#7d91a2"
    text[ACTIVE]="#ffffff"
    base[ACTIVE]="#7d91a2"

    fg[PRELIGHT]="#ffffff"
    bg[PRELIGHT]="#7d91a2"
    text[PRELIGHT]="#ffffff"
    base[PRELIGHT] ="#7d91a2"

    fg[SELECTED]="#ffffff"
    bg[SELECTED]="#7d91a2"
    text[SELECTED]="#ffffff"
    base[SELECTED]="#7d91a2"

    fg[INSENSITIVE]="#ffffff"
    bg[INSENSITIVE]="#d0dbe4"
    text[INSENSITIVE]="#ffffff"
    base[INSENSITIVE]="#d0dbe4"
    #engine "pixmap" {}
}

style "cde_style_sel_1"
{
    fg[NORMAL]  ="#ffffff"
    bg[NORMAL]  ="#ca8f5f"
    text[NORMAL]="#ffffff"
    base[NORMAL]="#ca8f5f"

    fg[ACTIVE]  ="#ffffff"
    bg[ACTIVE]  ="#eda870"
    text[ACTIVE]="#ffffff"
    base[ACTIVE]="#eda870"

    fg[PRELIGHT]="#ffffff"
    bg[PRELIGHT]="#7f5a3c"
    text[PRELIGHT]="#ffffff"
    base[PRELIGHT] ="#7f5a3c"

    fg[SELECTED]="#ffffff"
    bg[SELECTED]="#7f5a3c"
    text[SELECTED]="#ffffff"
    base[SELECTED]="#7f5a3c"

    fg[INSENSITIVE]="#ffffff"
    bg[INSENSITIVE]="#ca8f5f"
    text[INSENSITIVE]="#ffffff"
    base[INSENSITIVE]="#ca8f5f"
    #engine "pixmap" {}
}

style "cde_style_sel_2"
{
    fg[NORMAL]  ="#ffffff"
    bg[NORMAL]  ="#828282"
    text[NORMAL]="#ffffff"
    base[NORMAL]="#828282"

    fg[ACTIVE]  ="#ffffff"
    bg[ACTIVE]  ="#999999"
    text[ACTIVE]="#ffffff"
    base[ACTIVE]="#999999"

    fg[PRELIGHT]="#ffffff"
    bg[PRELIGHT]="#4f4f4f"
    text[PRELIGHT]="#ffffff"
    base[PRELIGHT] ="#4f4f4f"

    fg[SELECTED]="#ffffff"
    bg[SELECTED]="#4f4f4f"
    text[SELECTED]="#ffffff"
    base[SELECTED]="#4f4f4f"

    fg[INSENSITIVE]="#ffffff"
    bg[INSENSITIVE]="#828282"
    text[INSENSITIVE]="#ffffff"
    base[INSENSITIVE]="#828282"
    #engine "pixmap" {}
}

style "cde_style_sel_3"
{
    fg[NORMAL]  ="#ffffff"
    bg[NORMAL]  ="#748191"
    text[NORMAL]="#ffffff"
    base[NORMAL]="#748191"

    fg[ACTIVE]  ="#ffffff"
    bg[ACTIVE]  ="#8998aa"
    text[ACTIVE]="#ffffff"
    base[ACTIVE]="#8998aa"

    fg[PRELIGHT]="#ffffff"
    bg[PRELIGHT]="#474f58"
    text[PRELIGHT]="#ffffff"
    base[PRELIGHT] ="#474f58"

    fg[SELECTED]="#ffffff"
    bg[SELECTED]="#474f58"
    text[SELECTED]="#ffffff"
    base[SELECTED]="#474f58"

    fg[INSENSITIVE]="#ffffff"
    bg[INSENSITIVE]="#748191"
    text[INSENSITIVE]="#ffffff"
    base[INSENSITIVE]="#748191"
    #engine "pixmap" {}
}

style "cde_style_sel_4"
{
    fg[NORMAL]  ="#ffffff"
    bg[NORMAL]  ="#585e6e"
    text[NORMAL]="#ffffff"
    base[NORMAL]="#585e6e"

    fg[ACTIVE]  ="#ffffff"
    bg[ACTIVE]  ="#686f82"
    text[ACTIVE]="#ffffff"
    base[ACTIVE]="#686f82"

    fg[PRELIGHT]="#ffffff"
    bg[PRELIGHT]="#33363f"
    text[PRELIGHT]="#ffffff"
    base[PRELIGHT] ="#33363f"

    fg[SELECTED]="#ffffff"
    bg[SELECTED]="#33363f"
    text[SELECTED]="#ffffff"
    base[SELECTED]="#33363f"

    fg[INSENSITIVE]="#ffffff"
    bg[INSENSITIVE]="#585e6e"
    text[INSENSITIVE]="#ffffff"
    base[INSENSITIVE]="#585e6e"
    #engine "pixmap" {}
}

style "cde_style_sel_5"
{
    fg[NORMAL]  ="#000000"
    bg[NORMAL]  ="#a8978f"
    text[NORMAL]="#000000"
    base[NORMAL]="#a8978f"

    fg[ACTIVE]  ="#000000"
    bg[ACTIVE]  ="#c6b2a8"
    text[ACTIVE]="#000000"
    base[ACTIVE]="#c6b2a8"

    fg[PRELIGHT]="#000000"
    bg[PRELIGHT]="#6b605b"
    text[PRELIGHT]="#000000"
    base[PRELIGHT] ="#6b605b"

    fg[SELECTED]="#000000"
    bg[SELECTED]="#6b605b"
    text[SELECTED]="#000000"
    base[SELECTED]="#6b605b"

    fg[INSENSITIVE]="#000000"
    bg[INSENSITIVE]="#a8978f"
    text[INSENSITIVE]="#000000"
    base[INSENSITIVE]="#a8978f"
    #engine "pixmap" {}
}

style "cde_style_sel_6"
{
    fg[NORMAL]  ="#ffffff"
    bg[NORMAL]  ="#3e7c8e"
    text[NORMAL]="#ffffff"
    base[NORMAL]="#3e7c8e"

    fg[ACTIVE]  ="#ffffff"
    bg[ACTIVE]  ="#4992a7"
    text[ACTIVE]="#ffffff"
    base[ACTIVE]="#4992a7"

    fg[PRELIGHT]="#ffffff"
    bg[PRELIGHT]="#244953"
    text[PRELIGHT]="#ffffff"
    base[PRELIGHT] ="#244953"

    fg[SELECTED]="#ffffff"
    bg[SELECTED]="#244953"
    text[SELECTED]="#ffffff"
    base[SELECTED]="#244953"

    fg[INSENSITIVE]="#ffffff"
    bg[INSENSITIVE]="#3e7c8e"
    text[INSENSITIVE]="#ffffff"
    base[INSENSITIVE]="#3e7c8e"
    #engine "pixmap" {}
}

style "cde_style_sel_7"
{
    fg[NORMAL]  ="#ffffff"
    bg[NORMAL]  ="#9c7378"
    text[NORMAL]="#ffffff"
    base[NORMAL]="#9c7378"

    fg[ACTIVE]  ="#ffffff"
    bg[ACTIVE]  ="#b7878d"
    text[ACTIVE]="#ffffff"
    base[ACTIVE]="#b7878d"

    fg[PRELIGHT]="#ffffff"
    bg[PRELIGHT]="#5f4649"
    text[PRELIGHT]="#ffffff"
    base[PRELIGHT] ="#5f4649"

    fg[SELECTED]="#ffffff"
    bg[SELECTED]="#5f4649"
    text[SELECTED]="#ffffff"
    base[SELECTED]="#5f4649"

    fg[INSENSITIVE]="#ffffff"
    bg[INSENSITIVE]="#9c7378"
    text[INSENSITIVE]="#ffffff"
    base[INSENSITIVE]="#9c7378"
    #engine "pixmap" {}
}

style "cde_style_sel_8"
{
    fg[NORMAL]  ="#ffffff"
    bg[NORMAL]  ="#7d91a2"
    text[NORMAL]="#ffffff"
    base[NORMAL]="#7d91a2"

    fg[ACTIVE]  ="#ffffff"
    bg[ACTIVE]  ="#93abbf"
    text[ACTIVE]="#ffffff"
    base[ACTIVE]="#93abbf"

    fg[PRELIGHT]="#ffffff"
    bg[PRELIGHT]="#4e5b66"
    text[PRELIGHT]="#ffffff"
    base[PRELIGHT] ="#4e5b66"

    fg[SELECTED]="#ffffff"
    bg[SELECTED]="#4e5b66"
    text[SELECTED]="#ffffff"
    base[SELECTED]="#4e5b66"

    fg[INSENSITIVE]="#ffffff"
    bg[INSENSITIVE]="#7d91a2"
    text[INSENSITIVE]="#ffffff"
    base[INSENSITIVE]="#7d91a2"
    #engine "pixmap" {}
}

style "cde_prelight_style_1"
{
    fg[NORMAL]  ="#ffffff"
    bg[NORMAL]  ="#eda870"
    text[NORMAL]="#ffffff"
    base[NORMAL]="#eda870"

    fg[ACTIVE]  ="#ffffff"
    bg[ACTIVE]  ="#ca8f5f"
    text[ACTIVE]="#ffffff"
    base[ACTIVE]="#ca8f5f"

    fg[PRELIGHT]="#ffffff"
    bg[PRELIGHT]="#ca8f5f"
    text[PRELIGHT]="#ffffff"
    base[PRELIGHT] ="#ca8f5f"

    fg[SELECTED]="#ffffff"
    bg[SELECTED]="#ca8f5f"
    text[SELECTED]="#ffffff"
    base[SELECTED]="#ca8f5f"

    fg[INSENSITIVE]="#ffffff"
    bg[INSENSITIVE]="#f8dac2"
    text[INSENSITIVE]="#ffffff"
    base[INSENSITIVE]="#f8dac2"
    #engine "pixmap" {}
}

style "cde_prelight_style_2"
{
    fg[NORMAL]  ="#ffffff"
    bg[NORMAL]  ="#999999"
    text[NORMAL]="#ffffff"
    base[NORMAL]="#999999"

    fg[ACTIVE]  ="#ffffff"
    bg[ACTIVE]  ="#828282"
    text[ACTIVE]="#ffffff"
    base[ACTIVE]="#828282"

    fg[PRELIGHT]="#ffffff"
    bg[PRELIGHT]="#828282"
    text[PRELIGHT]="#ffffff"
    base[PRELIGHT] ="#828282"

    fg[SELECTED]="#ffffff"
    bg[SELECTED]="#828282"
    text[SELECTED]="#ffffff"
    base[SELECTED]="#828282"

    fg[INSENSITIVE]="#ffffff"
    bg[INSENSITIVE]="#d2d2d2"
    text[INSENSITIVE]="#ffffff"
    base[INSENSITIVE]="#d2d2d2"
    #engine "pixmap" {}
}

style "cde_prelight_style_3"
{
    fg[NORMAL]  ="#ffffff"
    bg[NORMAL]  ="#8998aa"
    text[NORMAL]="#ffffff"
    base[NORMAL]="#8998aa"

    fg[ACTIVE]  ="#ffffff"
    bg[ACTIVE]  ="#748191"
    text[ACTIVE]="#ffffff"
    base[ACTIVE]="#748191"

    fg[PRELIGHT]="#ffffff"
    bg[PRELIGHT]="#748191"
    text[PRELIGHT]="#ffffff"
    base[PRELIGHT] ="#748191"

    fg[SELECTED]="#ffffff"
    bg[SELECTED]="#748191"
    text[SELECTED]="#ffffff"
    base[SELECTED]="#748191"

    fg[INSENSITIVE]="#ffffff"
    bg[INSENSITIVE]="#cbd2da"
    text[INSENSITIVE]="#ffffff"
    base[INSENSITIVE]="#cbd2da"
    #engine "pixmap" {}
}

style "cde_prelight_style_4"
{
    fg[NORMAL]  ="#ffffff"
    bg[NORMAL]  ="#686f82"
    text[NORMAL]="#ffffff"
    base[NORMAL]="#686f82"

    fg[ACTIVE]  ="#ffffff"
    bg[ACTIVE]  ="#585e6e"
    text[ACTIVE]="#ffffff"
    base[ACTIVE]="#585e6e"

    fg[PRELIGHT]="#ffffff"
    bg[PRELIGHT]="#585e6e"
    text[PRELIGHT]="#ffffff"
    base[PRELIGHT] ="#585e6e"

    fg[SELECTED]="#ffffff"
    bg[SELECTED]="#585e6e"
    text[SELECTED]="#ffffff"
    base[SELECTED]="#585e6e"

    fg[INSENSITIVE]="#ffffff"
    bg[INSENSITIVE]="#babec6"
    text[INSENSITIVE]="#ffffff"
    base[INSENSITIVE]="#babec6"
    #engine "pixmap" {}
}

style "cde_prelight_style_5"
{
    fg[NORMAL]  ="#000000"
    bg[NORMAL]  ="#c6b2a8"
    text[NORMAL]="#000000"
    base[NORMAL]="#c6b2a8"

    fg[ACTIVE]  ="#000000"
    bg[ACTIVE]  ="#a8978f"
    text[ACTIVE]="#000000"
    base[ACTIVE]="#a8978f"

    fg[PRELIGHT]="#000000"
    bg[PRELIGHT]="#a8978f"
    text[PRELIGHT]="#000000"
    base[PRELIGHT] ="#a8978f"

    fg[SELECTED]="#000000"
    bg[SELECTED]="#a8978f"
    text[SELECTED]="#000000"
    base[SELECTED]="#a8978f"

    fg[INSENSITIVE]="#000000"
    bg[INSENSITIVE]="#e7deda"
    text[INSENSITIVE]="#000000"
    base[INSENSITIVE]="#e7deda"
    #engine "pixmap" {}
}

style "cde_prelight_style_6"
{
    fg[NORMAL]  ="#ffffff"
    bg[NORMAL]  ="#4992a7"
    text[NORMAL]="#ffffff"
    base[NORMAL]="#4992a7"

    fg[ACTIVE]  ="#ffffff"
    bg[ACTIVE]  ="#3e7c8e"
    text[ACTIVE]="#ffffff"
    base[ACTIVE]="#3e7c8e"

    fg[PRELIGHT]="#ffffff"
    bg[PRELIGHT]="#3e7c8e"
    text[PRELIGHT]="#ffffff"
    base[PRELIGHT] ="#3e7c8e"

    fg[SELECTED]="#ffffff"
    bg[SELECTED]="#3e7c8e"
    text[SELECTED]="#ffffff"
    base[SELECTED]="#3e7c8e"

    fg[INSENSITIVE]="#ffffff"
    bg[INSENSITIVE]="#adced8"
    text[INSENSITIVE]="#ffffff"
    base[INSENSITIVE]="#adced8"
    #engine "pixmap" {}
}

style "cde_prelight_style_7"
{
    fg[NORMAL]  ="#ffffff"
    bg[NORMAL]  ="#b7878d"
    text[NORMAL]="#ffffff"
    base[NORMAL]="#b7878d"

    fg[ACTIVE]  ="#ffffff"
    bg[ACTIVE]  ="#9c7378"
    text[ACTIVE]="#ffffff"
    base[ACTIVE]="#9c7378"

    fg[PRELIGHT]="#ffffff"
    bg[PRELIGHT]="#9c7378"
    text[PRELIGHT]="#ffffff"
    base[PRELIGHT] ="#9c7378"

    fg[SELECTED]="#ffffff"
    bg[SELECTED]="#9c7378"
    text[SELECTED]="#ffffff"
    base[SELECTED]="#9c7378"

    fg[INSENSITIVE]="#ffffff"
    bg[INSENSITIVE]="#e0cacd"
    text[INSENSITIVE]="#ffffff"
    base[INSENSITIVE]="#e0cacd"
    #engine "pixmap" {}
}

style "cde_prelight_style_8"
{
    fg[NORMAL]  ="#ffffff"
    bg[NORMAL]  ="#93abbf"
    text[NORMAL]="#ffffff"
    base[NORMAL]="#93abbf"

    fg[ACTIVE]  ="#ffffff"
    bg[ACTIVE]  ="#7d91a2"
    text[ACTIVE]="#ffffff"
    base[ACTIVE]="#7d91a2"

    fg[PRELIGHT]="#ffffff"
    bg[PRELIGHT]="#7d91a2"
    text[PRELIGHT]="#ffffff"
    base[PRELIGHT] ="#7d91a2"

    fg[SELECTED]="#ffffff"
    bg[SELECTED]="#7d91a2"
    text[SELECTED]="#ffffff"
    base[SELECTED]="#7d91a2"

    fg[INSENSITIVE]="#ffffff"
    bg[INSENSITIVE]="#d0dbe4"
    text[INSENSITIVE]="#ffffff"
    base[INSENSITIVE]="#d0dbe4"
    #engine "pixmap" #{}
}



