style "outsetgreen"
{
	fg[NORMAL] = "#fff"
	fg[PRELIGHT] = "#fff"
	fg[INSENSITIVE] = shade (0.5, "#4991A6")
	
### Menubar ###
	engine "pixmap"
	{
		image
		{
			function = BOX
			file = "menubar/menubar.png"
			border = {3, 3, 3, 3}
			stretch = TRUE
		}
	}
}


style "insetgreen"
{
### Menu item ###

	engine "pixmap"
	{
		image
		{
			function = BOX
			file = "menubar/menubarmenuitem.png"
			border = {3, 3, 3, 3}
			stretch	= TRUE
		}
		
### H line ###
		image 
		{
			function = HLINE
	 		file = "menubar/line-h.png"
			border = {0, 0, 0, 0}
			stretch = TRUE
		}
		
### V line ###	
		image 
		{
			function = VLINE
	 		file = "menubar/line-v.png"
			border = {0, 0, 0, 0}
			stretch = TRUE
		}
		
### Arrow UP ###
		image
		{
			function = ARROW
			#overlay_file = "/arrow/arrow-up.png"
			overlay_file = "../img//arrowup.png"
			overlay_border = {3,3,3,3}
			overlay_stretch = FALSE
			arrow_direction	= UP
		}

### Arrow DOWN ###
		image
		{
			function = ARROW
			#overlay_file = "/arrow/arrow-down.png"
			overlay_file = "../img//arrowdown.png"
			overlay_border = {3,3,3,3}
			overlay_stretch	= FALSE
			arrow_direction	= DOWN
		}

### Arrow LEFT ###
		image
		{
			function = ARROW
			#overlay_file = "/arrow/arrow-left.png"
			overlay_file = "../img//arrowleft.png"
			overlay_border = {3,3,3,3}
			overlay_stretch	= FALSE
			arrow_direction	= LEFT
		}

### Arrow RIGHT ###
		image
		{
			function = ARROW
			#overlay_file = "/arrow/arrow-right.png"
			overlay_file = "../img//arrowright.png"
			overlay_border = {3,3,3,3}
			overlay_stretch	= FALSE
			arrow_direction	= RIGHT
		}
	}
}

#bg and edge around the menubar
widget_class "*GtkMenuBar*" 			style "outsetgreen"
#bg and edge around entire popup menu 
widget_class "*GtkMenu" 			style "outsetgreen"
#bg and edge around File/Edit items in menubar 
#o fuck with *GtkMenuItem* this doesnt work for gimp but it does like this:
widget_class "*GtkMenuBar.*MenuItem*"		style "insetgreen"
widget_class "*GtkMenuBar.GtkMenuItem*"		style "insetgreen"
#bg and edge of menuitems inside popup menu
widget_class "*<GtkMenu>.<GtkMenuItem>*"	style "insetgreen"











#widget_class "*Combo*.*Menu*" style "buttonoutonly"


#################################################################################################################
#################################################################################################################
#################################################################################################################
#################################################################################################################
#################################################################################################################







#class "GtkMenuBar" style "outsetgreen"
#widget_class "*<GtkMenuBar>*" style "outsetgreen"
#class "GtkMenuBar*" style "outsetgreen"
#widget_class "*<GtkMenuBar>.<GtkMenuItem>*"	style "menubarmenuitem"
#het hele menu
#THIS NO WORK
#widget_class "*GtkMenu.GtkMenuItem*" style "outsetgreen"
#THIS WORK WHY



#widget_class "*<GtkMenuBar>.<GtkMenuItem>*"	style "menubar_item"
#built in: alleen deze
#widget_class "*GtkMenu" 			style "outsetgreen"

#ORIG
#class "GtkMenuItem*" style "insetgreen"
#class "GtkImageMenuItem*" style "insetgreen"
#class "GtkTearoffMenuItem*" style "insetgreen"
#class "GtkItem*" style "insetgreen"

#widget_class "*GtkMenuBar*GtkMenuItem" style "menuitemgeen"

#widget_class "*<GtkMenuBar>*"			style "insetgreen"
#widget_class "*<GtkMenu>*"			style "insetgreen"
#widget_class "*<GtkMenu>*"			style "insetgreen"
#widget_class "*<GtkMenuItem>*"			style "insetgreen"
#widget_class "*<GtkMenuBar>.<GtkMenuItem>*"	style "insetgreen"

#class "GtkMenu"			style "insetgreen"

#widget_class "*GtkMenuBar*"			style "insetgreen"
#widget_class "*GtkMenu*"			style "insetgreen"
#widget_class "*GtkMenuItem*"			style "insetgreen"
#widget_class "*GtkMenuBar*GtkMenuItem*"	style "insetgreen"
