style "scale"
{

	GtkRange::slider_width = 13
	#what  determines the length?? The png seems to be stretched in lenght 
	#a couple of pixels. 

	
	engine "pixmap"
	{
		image
		{
			function = BOX
			detail = "trough"
			#file = "scale/trough-horiz.png"
			file = "img/scrollbarTrough.png"
			#border = {3, 3, 9, 9}
            		border = {3, 3, 3, 3}
			stretch	= TRUE
			orientation	= HORIZONTAL
		}
		image
		{
			function = BOX
			detail = "trough"
			#file = "scale/trough-vert.png"
			file = "img/scrollbarTrough.png"
            		border = {3, 3, 3, 3}
			#border = {9, 9, 3, 3}
			stretch	= TRUE
			orientation	= VERTICAL
		}
		image
		{
			function = SLIDER
			#overlay_file = "scale/slider-horiz.png"
			file = "img/rangeSliderHorizontal.png"
			overlay_stretch	= FALSE
			orientation	= HORIZONTAL
		}
		image
		{
			function = SLIDER
			#overlay_file = "scale/slider-vert.png"
			file = "img/rangeSliderVertical.png"
			overlay_stretch	= FALSE
			orientation	= VERTICAL
		}
		image 
		{
			function = FOCUS
			file = "null.png"
		} 
	}
}

class "GtkRange*" style "scale"

