style "scrollbar" 
{
	#also scrollbar slider width
	#the trought will be put around that, so 2 px wider. In HPUX the 2 sidepixels of the 
	#slider were transparent, in order to make possible a 2px border trough
	GtkRange::slider-width = 11
	#height of the stepper (for vertical). The arrow is 11x11px. But CDE has 1 pix of sel color between the stepper and slider, so I 
	#added an extra pixel under the base of the arrow (in sel color) So this has to be 12:
   	GtkRange::stepper-size = 12
   	
	#why is this here?
	GtkCheckButtonClass::indicator-size = 14
   	GtkRadioButtonClass::indicator-size = 14
	
	engine "pixmap" 
	{
	image 
		{
            function = BOX
            detail = "trough"
            #file = "scrollbar/trough.png"
            file = "img/scrollbarTrough.png"
            border = {3, 3, 3, 3}
            stretch = TRUE
            orientation = VERTICAL
        }
        image 
		{
            function = BOX
            detail = "trough"
            #file = "scrollbar/trough.png"
            file = "img/scrollbarTrough.png"
            border = {3, 3, 3, 3}
            stretch = TRUE
            orientation = HORIZONTAL
        }
        image 
		{
	    function = SLIDER
               #file = "scrollbar/scrollbar_horizontal.png"
   	    file = "img/scrollbarSlider.png"
	    border = {3, 3, 3, 3}
	    stretch = TRUE
	    orientation = HORIZONTAL
		}
        image 
		{
            function = SLIDER
            #file = "scrollbar/scrollbar_vertical.png"
   	    file = "img/scrollbarSlider.png"
            border = {3, 3, 3, 3}
            stretch = TRUE
            orientation = VERTICAL
        }
	image 
		{
            function = ARROW
            state = NORMAL
#hier
            #overlay_file = "scrollbar/arrow_up.png"
	    overlay_file = "img/scrollbarArrowUp.png"
	    #using transparent images is not really handy because there is another 
	    #default button under that, not clean background
	    #overlay_file = "img/scrollbarArrowUp.transparent.png"
            overlay_stretch = FALSE
            arrow_direction = UP
        }
	image 
		{
            function = ARROW
            state = PRELIGHT
            #overlay_file = "scrollbar/arrow_up.png"
	    overlay_file = "img/scrollbarArrowUp.png"
            overlay_stretch = FALSE
            arrow_direction = UP
        }
	image 
		{
            function = ARROW
            state = INSENSITIVE
            #overlay_file = "scrollbar/arrow_up.png"
            overlay_file = "img/scrollbarArrowUp.png"
            overlay_stretch = FALSE
            arrow_direction = UP
        }
        image 
		{
            function = ARROW
            state = ACTIVE
            #overlay_file = "scrollbar/arrow_up_clicked.png"
            overlay_file = "img/scrollbarArrowUpPressed.png"
            overlay_stretch = FALSE
            arrow_direction = UP
        }
	image 
		{
            function = ARROW
            state = NORMAL
            #overlay_file = "scrollbar/arrow_down.png"
	    overlay_file = "img/scrollbarArrowDown.png"
            overlay_stretch = FALSE
            arrow_direction = DOWN
        }
	image 
		{
            function = ARROW
            state = PRELIGHT
            #overlay_file = "scrollbar/arrow_down.png"
            overlay_file = "img/scrollbarArrowDown.png"
            overlay_stretch = FALSE
            arrow_direction = DOWN
        }
	image 
		{
            function = ARROW
            state = INSENSITIVE
            #overlay_file = "scrollbar/arrow_down.png"
            overlay_file = "img/scrollbarArrowDown.png"
            overlay_stretch = FALSE
            arrow_direction = DOWN
        }
        image 
		{
            function = ARROW
            state = ACTIVE
            #overlay_file = "scrollbar/arrow_down_clicked.png"
            overlay_file = "img/scrollbarArrowDownPressed.png"
            overlay_stretch = FALSE
            arrow_direction = DOWN
        }
	image 
		{
            function = ARROW
            state = NORMAL
            #overlay_file = "scrollbar/arrow_left.png"
            overlay_file = "img/scrollbarArrowLeft.png"
            overlay_stretch = FALSE
            arrow_direction = LEFT
        }
	image 
		{
            function = ARROW
            state = PRELIGHT
            #overlay_file = "scrollbar/arrow_left.png"
            overlay_file = "img/scrollbarArrowLeft.png"
            overlay_stretch = FALSE
            arrow_direction = LEFT
        }
	image 
		{
            function = ARROW
            state = INSENSITIVE
            #overlay_file = "scrollbar/arrow_left.png"
            overlay_file = "img/scrollbarArrowLeft.png"
            overlay_stretch = FALSE
            arrow_direction = LEFT
        }
        image 
		{
            function = ARROW
            state = ACTIVE
            #overlay_file = "scrollbar/arrow_left_clicked.png"
            overlay_file = "img/scrollbarArrowLeftPressed.png"
            overlay_stretch = FALSE
            arrow_direction = LEFT
        }
	image 
		{
            function = ARROW
            state = NORMAL
            #overlay_file = "scrollbar/arrow_right.png"
            overlay_file = "img/scrollbarArrowRight.png"
            overlay_stretch = FALSE
            arrow_direction = RIGHT
        }
	image 
		{
            function = ARROW
            state = PRELIGHT
            #overlay_file = "scrollbar/arrow_right.png"
            overlay_file = "img/scrollbarArrowRight.png"
            overlay_stretch = FALSE
            arrow_direction = RIGHT
        }
	image 
		{
            function = ARROW
            state = INSENSITIVE
            #overlay_file = "scrollbar/arrow_right.png"
            overlay_file = "img/scrollbarArrowRight.png"
            overlay_stretch = FALSE
            arrow_direction = RIGHT
        }
        image 
		{
            function = ARROW
            state = ACTIVE
            #overlay_file = "scrollbar/arrow_right_clicked.png"
            overlay_file = "img/scrollbarArrowRightPressed.png"
            overlay_stretch = FALSE
            arrow_direction = RIGHT
        }    
    } #engine pixmap
} #style scrollbar


style "scrollbargreen" 
{
	GtkRange::slider-width = 14
   	GtkRange::stepper-size = 13
   	
	GtkCheckButtonClass::indicator-size = 14
   	GtkRadioButtonClass::indicator-size = 14
	
	engine "pixmap" 
	{
### Trough ###
		image 
		{
            function = BOX
            detail = "trough"
            file = "scrollbar/trough.png"
            border = {3, 3, 3, 3}
            stretch = TRUE
            orientation = VERTICAL
        }
        
        image 
		{
            function = BOX
            detail = "trough"
            file = "scrollbar/trough.png"
            border = {3, 3, 3, 3}
            stretch = TRUE
            orientation = HORIZONTAL
        }

### Scrollbar ###
        image 
		{
			function = SLIDER
			file = "scrollbar/scrollbar_horizontal.png"
			border = {3, 3, 3, 3}
			stretch = TRUE
			orientation = HORIZONTAL
		}
	
        image 
		{
            function = SLIDER
            file = "scrollbar/scrollbar_vertical.png"
            border = {3, 3, 3, 3}
            stretch = TRUE
            orientation = VERTICAL
        }
        
### Arrow UP ###

## Normal
		image 
		{
            function = ARROW
            state = NORMAL
            overlay_file = "scrollbar/arrow_up_green.png"
            overlay_stretch = FALSE
            arrow_direction = UP
        }
        
## Prelight
		image 
		{
            function = ARROW
            state = PRELIGHT
            overlay_file = "scrollbar/arrow_up_green.png"
            overlay_stretch = FALSE
            arrow_direction = UP
        }
        
## Insensitive
		image 
		{
            function = ARROW
            state = INSENSITIVE
            overlay_file = "scrollbar/arrow_up_green.png"
            overlay_stretch = FALSE
            arrow_direction = UP
        }

## Active
        image 
		{
            function = ARROW
            state = ACTIVE
            overlay_file = "scrollbar/arrow_up_clicked.png"
            overlay_stretch = FALSE
            arrow_direction = UP
        }
        
### Arrow DOWN ###       
        
## Normal
		image 
		{
            function = ARROW
            state = NORMAL
            overlay_file = "scrollbar/arrow_down.png"
            overlay_stretch = FALSE
            arrow_direction = DOWN
        }
        
## Prelight
		image 
		{
            function = ARROW
            state = PRELIGHT
            overlay_file = "scrollbar/arrow_down.png"
            overlay_stretch = FALSE
            arrow_direction = DOWN
        }
        
## Insensitive
		image 
		{
            function = ARROW
            state = INSENSITIVE
            overlay_file = "scrollbar/arrow_down.png"
            overlay_stretch = FALSE
            arrow_direction = DOWN
        }

## Active
        image 
		{
            function = ARROW
            state = ACTIVE
            overlay_file = "scrollbar/arrow_down_clicked.png"
            overlay_stretch = FALSE
            arrow_direction = DOWN
        }

### Arrow LEFT ###     

## Normal
		image 
		{
            function = ARROW
            state = NORMAL
            overlay_file = "scrollbar/arrow_left.png"
            overlay_stretch = FALSE
            arrow_direction = LEFT
        }
        
## Prelight
		image 
		{
            function = ARROW
            state = PRELIGHT
            overlay_file = "scrollbar/arrow_left.png"
            overlay_stretch = FALSE
            arrow_direction = LEFT
        }
        
## Insensitive
		image 
		{
            function = ARROW
            state = INSENSITIVE
            overlay_file = "scrollbar/arrow_left.png"
            overlay_stretch = FALSE
            arrow_direction = LEFT
        }

## Active
        image 
		{
            function = ARROW
            state = ACTIVE
            overlay_file = "scrollbar/arrow_left_clicked.png"
            overlay_stretch = FALSE
            arrow_direction = LEFT
        }

### Arrow RIGHT ###       

## Normal
		image 
		{
            function = ARROW
            state = NORMAL
            overlay_file = "scrollbar/arrow_right.png"
            overlay_stretch = FALSE
            arrow_direction = RIGHT
        }
        
## Prelight
		image 
		{
            function = ARROW
            state = PRELIGHT
            overlay_file = "scrollbar/arrow_right.png"
            overlay_stretch = FALSE
            arrow_direction = RIGHT
        }
        
## Insensitive
		image 
		{
            function = ARROW
            state = INSENSITIVE
            overlay_file = "scrollbar/arrow_right.png"
            overlay_stretch = FALSE
            arrow_direction = RIGHT
        }

## Active
        image 
		{
            function = ARROW
            state = ACTIVE
            overlay_file = "scrollbar/arrow_right_clicked.png"
            overlay_stretch = FALSE
            arrow_direction = RIGHT
        }    
    }
}





#class "GtkScrollbar*" style "scrollbar"

